
<div class="container">
  <div class="row">
    <div class= "page-background faded-background">
      <div class="col-12">
        <div>
          <h1>Drink yourself to death</h1>
          <h4>because why not</h4>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="btn-card">
          <%= link_to new_cocktail_path do %>
          <div class="btn-add-cocktail" id="btn-link">Add a new cocktail
          </div>
          <% end %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10 col-lg-8">
          <div class="cards-home">
            <% @cocktails.each do |cocktail| %>
            <%= link_to cocktail_path(cocktail) do %>
            <div class= "card-category" id="card-link"><%= cocktail.name %>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

