  <div class="first-page">
    <div>
    <h1>Drink yourself to death</h1>
    <h4>because why not</h4>
    </div>
  <div class="container">
    <div class="cards-home">
      <%= link_to cocktails_path do %>
      <div id= "card-link" class= "card-category">Cocktails
      </div>
      <% end %>
      <%= link_to new_cocktail_path do %>
      <div class="card-category" id= "card-link">Add your cocktail !
      </div>
      <% end %>
    </div>
  </div>
  </div>


