<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1545062071-6835f9c4afcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">
  <!-- <div class="banner"> -->
    <div class="first-page">
      <h1>Drink yourself to death</h1>
      <h4>because why not</h4>
    </div>
    <div class="container">
      <div class="cards-home">
        <div class="card-category">
          <%= link_to 'Cocktails', cocktails_path %>
        </div>
        <div class="card-category">
          <%= link_to 'Add your cocktail !', new_cocktail_path %>
        </div>
      </div>
    </div>
    <!-- </div> -->
  </div>

