  <div class="container">
    <div class="row">
      <div class= "page-background home-background">
        <div class="col-12">
          <div>
            <h1>Drink yourself to death</h1>
            <h4>because why not</h4>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-10 col-lg-8">
            <div class="cards-home">
              <%= link_to cocktails_path do %>
              <div id= "card-link" class= "card-category">Cocktails
              </div>
              <% end %>
              <%= link_to new_cocktail_path do %>
              <div class="card-category" id= "card-link">Add your cocktail !
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



